In [9]:
# Initial imports
import pandas as pd
from pathlib import Path

In [36]:
# Set the path for each CSV file
arkk_path = Path("C:/UofT/Project/Resources/ARKK.csv")
gbtc_path = Path("C:/UofT/Project/Resources/GBTC.csv")

# Read in the data into Pandas DataFrames
arkkdata = pd.read_csv(arkk_path)
gbtcdata = pd.read_csv(gbtc_path)

In [37]:
arkkdata.tail(10)

,time,open,high,low,close,K,D
1919,2022-06-29T09:30:00-04:00,41.89,42.240,40.700,41.51,69.664348,83.363448
1920,2022-06-30T09:30:00-04:00,40.75,41.030,39.110,39.88,53.861928,69.193550
1921,2022-07-01T09:30:00-04:00,40.37,41.810,40.020,41.22,51.704778,58.410351
1922,2022-07-05T09:30:00-04:00,40.57,44.975,39.840,44.97,63.742613,56.436440
1923,2022-07-06T09:30:00-04:00,44.78,45.960,43.560,43.96,76.492998,63.980130
1924,2022-07-07T09:30:00-04:00,44.09,46.900,43.810,46.83,90.967398,77.067670
1925,2022-07-08T09:30:00-04:00,45.70,48.120,45.350,46.86,93.319588,86.926661
1926,2022-07-11T09:30:00-04:00,46.18,46.490,43.510,43.62,82.345692,88.877559
1927,2022-07-12T09:30:00-04:00,44.36,45.285,42.640,44.32,68.130772,81.265351
1928,2022-07-13T09:30:00-04:00,42.44,45.155,42.315,44.01,52.215728,67.564064

In [38]:
gbtcdata.tail(10)

,time,open,high,low,close,K,D
1800,2022-06-30T09:30:00-04:00,12.59,12.60,11.95,12.06,42.116171,44.236096
1801,2022-07-01T09:30:00-04:00,12.31,12.60,12.13,12.25,48.127119,45.239137
1802,2022-07-05T09:30:00-04:00,12.25,13.04,12.10,12.93,65.230582,51.824624
1803,2022-07-06T09:30:00-04:00,12.83,12.89,12.43,12.58,83.915832,65.757844
1804,2022-07-07T09:30:00-04:00,12.66,13.79,12.55,13.75,96.281308,81.809241
1805,2022-07-08T09:30:00-04:00,13.46,14.12,13.25,13.77,96.281308,92.159483
1806,2022-07-11T09:30:00-04:00,13.05,13.19,12.76,12.85,89.850398,94.137671
1807,2022-07-12T09:30:00-04:00,12.48,13.63,12.13,12.21,73.316661,86.482789
1808,2022-07-13T09:30:00-04:00,12.05,13.04,11.92,12.41,60.420345,74.529134
1809,2022-07-14T09:30:00-04:00,12.35,12.50,12.32,12.36,57.125868,63.620958